/* Handle basic element styling */
/* ---------------------------- */
body {
  font:
    1em/150% "Helvetica", /*em = font-related unit* - relative to font size of own element; rem is always relative to root font*/
    "Arial",
    sans-serif;
  padding: 1em;
  margin: 0 auto; /*shorthand properties WITHOUT comma inbetween*/
  max-width: 33em;
}

@media (width >= 70em) {
  /* Increase the global font size on larger screens or windows
     for better readability */
  body {
    font-size: 130%;
  }
}

h1 {
  font-size: 1.5em;
}

/* Handle specific elements nested in the DOM */
div p,
#id::first-line { /*paragraph inside a div AND anything with id first-line?*/
  background-color: red;
  border-radius: 3px;
}

div p { /*paragraph inside a div*/
  margin: 0;
  padding: 1em;
}

div p + p { /*element inside a p directly following a p which is inside a div*/
  padding-top: 0;
}

.box { /*style for a class - see period at the beginning*/
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transform: rotate(0.8turn);
}

 /*to apply a different style to a class according to context*/

span.highlight {
  background-color: yellow;
}

h1.highlight {
  background-color: pink;
}

/*styling IDs - IDs are unique!*/

#one {
  background-color: yellow;
}

h1#heading {
  color: rebeccapurple;
}

article *:first-child { /*universal selector * means "any"*/
  font-weight: bold;
}