body {
    background-color: whitesmoke;
}
    
h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif; 
    font-size:16px;
}

.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

.draggable {
    position: absolute;
    cursor: grab;
    width: 100px;
    height: 100px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 100px;
    border-radius: 8px;
    user-select: none;
}

.draggable.dragging {
    cursor: grabbing;
}

.my_image {
    width: 100%;
}